__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/

# Virtual environments
venv/
ENV/
env/
.venv/

# PyTorch artifacts
*.pt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# logs and outputs
logs/
tensorboard/

# macOS files
.DS_Store